{% extends "base.html" %}

{% block content %}

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <h2>latest post!</h2>

        <b><a href="/blog?id={{ recent_blog.id }}">{{ recent_blog.title }}</a></b> <br>
        {{ recent_blog.body }}
        <p>by <i><a href="/user?id={{ recent_blog.author_id }}">{{recent_blog.author.email}}</a></i></p>

    {% endif %}

    <h2>users!</h2>
    {% for user in users %}
    <p><a href="/user?id={{ user.id }}">{{ user.email }}</a></p>
    {% endfor %}


{% endblock %}